%h2
  %span.glyphicon.glyphicon-th-large
  My boards
  = link_to new_board_path, class: "btn btn-sm btn-success", remote: true, title: "Add board", "data-toggle" => "tooltip" do 
    %span.glyphicon.glyphicon-plus

.row.boards
  = render @boards

.modal.fade#board-modal
  .modal-dialog
    .modal-content#board-modal-content
      