@import "bootstrap";

.thumbnail:hover {
  border-color: #357ebd;
}

.devise-panel {
  margin-top: 60px;
}

.best_in_place:hover {
  border-radius: 5px;
  background-color: #ECECEC;
  cursor: pointer;
}
